{% if item_subcategory.items|length != 0 %}
    <h2>Items</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in item_subcategory.items %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td><a href="{{ path('item_sub_item_edit', {'id': i.id}) }}">{{ i.name }}</a></td>
                    <td>{{ i.slug }}</td>
                    <td>{{ include('items/item/delete/_sub_form.html.twig') }}</td>
                    <td><a href="{{ path('item_table_item_sub_new', {'id': item_subcategory.id, 'id2': i.id}) }}">new table</td>
                    {% for t in i.tables|sort((a, b) => a.number <=> b.number) %}
                        <td>
                            <a href="{{ path('item_table_item_sub_edit', {'id': t.id, 'id2': item_subcategory.id, 'id3': i.id}) }}">Table {{ t.number }}</a>
                            {{ include ('items/item_table/delete/_sub-item_form.html.twig') }}
                        </td>
                    {% endfor %}
                    {% for t in i.tables|sort((a, b) => a.number <=> b.number) %}
                        <td><ul>
                            <li><a href="{{ path('item_row_sub_new', {'id': item_subcategory.id, 'id2': t.id}) }}">new row</a></li>
                            {% for r in t.rows|sort((a, b) => a.number <=> b.number) %}
                                <li>
                                    <a href="{{ path('item_row_sub_edit', {'id': r.id, 'id2': item_subcategory.id}) }}">Row {{ r.number }}</a>
                                    {{ include ('items/item_row/delete/_sub_form.html.twig') }}
                                </li>
                            {% endfor %}
                        </ul></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endif %}