{% extends 'base.html.twig' %}

{% block title %}ClasseSpellcasting{% endblock %}

{% block body %}
    <h1>ClasseSpellcasting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe_spellcasting.id }}</td>
            </tr>
            <tr>
                <th>D</th>
                <td>{{ classe_spellcasting.d }}</td>
            </tr>
            <tr>
                <th>Modifier</th>
                <td>{{ classe_spellcasting.modifier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_classes_classe_spellcasting_index') }}">back to list</a>

    <a href="{{ path('app_classes_classe_spellcasting_edit', {'id': classe_spellcasting.id}) }}">edit</a>

    {{ include('classes/classe_spellcasting/_delete_form.html.twig') }}
{% endblock %}
