{{ form_start(form) }}
    {{ form_errors(form) }}
    <div>
        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
    </div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
