{% extends 'base.html.twig' %}

{% block title %}Spell index{% endblock %}

{% block body %}
    <h1>Spell index</h1>
    <a href="{{ path('spell_new') }}">Create new</a>
    </br><br/>
    <ul>
        {% for spell in spells %}
            <li>
                {{ include('spells/spell/_delete_form.html.twig') }}</td>
                <a style="margin: 0 10px;" href="{{ path('spell_edit', {'id': spell.id}) }}">{{ spell.slug }}</a>
                <a href="{{ path('spell_liste_new', {'id': spell.id}) }}">new liste</a>
                {% for l in spell.listes %}
                    <span>
                        <a style="margin: 0 10px;" href="{{ path('spell_liste_edit', {'id': l.id}) }}">L{{ l.number }}</a>
                        {{ include('spells/spell_liste/_delete_form.html.twig') }}
                    </span>
                {% endfor %}
                <a style="margin-left: 10px;" href="{{ path('spell_table_new', {'id': spell.id}) }}">new table</a>
                {% for t in spell.tables %}
                    <span>
                        <a style="margin: 0 10px;" href="{{ path('spell_table_edit', {'id': t.id}) }}">T{{ t.number }}</a>
                        {{ include('spells/spell_table/_delete_form.html.twig') }}
                        <a style="margin-left: 10px;" href="{{ path('spell_row_new', {'id': t.id}) }}">new row</a>
                        {% for r in t.rows %}
                            <span>
                                <a style="margin: 0 10px;" href="{{ path('spell_row_edit', {'id': r.id}) }}">R{{ r.number }}</a>
                                {{ include('spells/spell_row/_delete_form.html.twig') }}
                            </span>
                        {% endfor %}
                    </span>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
   
{% endblock %}
