{% extends 'base.html.twig' %}

{% block title %}ClasseLevel{% endblock %}

{% block body %}
    <h1>ClasseLevel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe_level.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ classe_level.level }}</td>
            </tr>
            <tr>
                <th>Bm</th>
                <td>{{ classe_level.bm }}</td>
            </tr>
            <tr>
                <th>Cantrip_know</th>
                <td>{{ classe_level.cantripKnow }}</td>
            </tr>
            <tr>
                <th>Spell_know</th>
                <td>{{ classe_level.spellKnow }}</td>
            </tr>
            <tr>
                <th>S1</th>
                <td>{{ classe_level.s1 }}</td>
            </tr>
            <tr>
                <th>S2</th>
                <td>{{ classe_level.s2 }}</td>
            </tr>
            <tr>
                <th>S3</th>
                <td>{{ classe_level.s3 }}</td>
            </tr>
            <tr>
                <th>S4</th>
                <td>{{ classe_level.s4 }}</td>
            </tr>
            <tr>
                <th>S5</th>
                <td>{{ classe_level.s5 }}</td>
            </tr>
            <tr>
                <th>S6</th>
                <td>{{ classe_level.s6 }}</td>
            </tr>
            <tr>
                <th>S7</th>
                <td>{{ classe_level.s7 }}</td>
            </tr>
            <tr>
                <th>S8</th>
                <td>{{ classe_level.s8 }}</td>
            </tr>
            <tr>
                <th>S9</th>
                <td>{{ classe_level.s9 }}</td>
            </tr>
            <tr>
                <th>Infusion_know</th>
                <td>{{ classe_level.infusionKnow }}</td>
            </tr>
            <tr>
                <th>Infused_item</th>
                <td>{{ classe_level.infusedItem }}</td>
            </tr>
            <tr>
                <th>Rage</th>
                <td>{{ classe_level.rage }}</td>
            </tr>
            <tr>
                <th>Rage_damage</th>
                <td>{{ classe_level.rageDamage }}</td>
            </tr>
            <tr>
                <th>Martial_art</th>
                <td>{{ classe_level.martialArt }}</td>
            </tr>
            <tr>
                <th>Ki</th>
                <td>{{ classe_level.ki }}</td>
            </tr>
            <tr>
                <th>Unarmored_move</th>
                <td>{{ classe_level.unarmoredMove }}</td>
            </tr>
            <tr>
                <th>Sneak_attack</th>
                <td>{{ classe_level.sneakAttack }}</td>
            </tr>
            <tr>
                <th>Sorcery_point</th>
                <td>{{ classe_level.sorceryPoint }}</td>
            </tr>
            <tr>
                <th>Spell_slot</th>
                <td>{{ classe_level.spellSlot }}</td>
            </tr>
            <tr>
                <th>Slot_level</th>
                <td>{{ classe_level.slotLevel }}</td>
            </tr>
            <tr>
                <th>Invocation_know</th>
                <td>{{ classe_level.invocationKnow }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_classes_classe_level_index') }}">back to list</a>

    <a href="{{ path('app_classes_classe_level_edit', {'id': classe_level.id}) }}">edit</a>

    {{ include('classes/classe_level/_delete_form.html.twig') }}
{% endblock %}
