{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
    <h1>Race index</h1>
    <a href="{{ path('race_new') }}">Create new</a>
    <br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for race in races %}
                <tr>
                    <td>{{ race.id }}</td>
                    <td>{{ race.slug }}</td>
                    <td><a href="{{ path('race_show', {'id': race.id}) }}">show</a>{{ race.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
