{% extends 'base.html.twig' %}

{% block title %}Race{% endblock %}

{% block body %}
    <h1>{{ race.name }}</h1>
    <div style="display:flex;">
        <a style="margin-right: 20px;" href="{{ path('races'}) }}">back to list</a>
        <a style="margin-right: 20px;" href="{{ path('race_edit', {'id': race.id}) }}">edit</a>
        {{ include('races/race/_delete_form.html.twig') }}
    </div>
    <br/><br/>
    <div style="display:flex;">
        <a style="margin-right: 20px;" href="{{ path('srace_new', {'id': race.id}) }}">new SourceRace</a>
    </div>
    <br/><br/>

    <table class="table">
        <tbody>
            {% for srace in race.sources %}
                <tr>
                    <td>{{ srace.id }}</td>
                    <td><a href="{{ path('srace_show', {'id': srace.id}) }}">{{ srace.source.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
