<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#competence" aria-expanded="true" aria-controls="collapseOne">
                Compétences
        </button>
    </h2>
    <a href="{{ path('competence_new') }}">Create new</a>
    <div id="competence" class="accordion-collapse collapse" data-bs-parent="#divers">
        <div class="accordion-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Catégorie</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for competence in competences %}
                    <tr>
                        <td>{{ competence.id }}</td>
                        <td>{{ competence.name }}</td>
                        <td>{{ competence.category }}</td>
                        <td>
                            <a href="{{ path('competence_edit', {'id': competence.id}) }}">edit</a>
                            {{ include('assets/competence/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>