<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#speed" aria-expanded="true" aria-controls="collapseOne">
                Speed
        </button>
    </h2>
    <a href="{{ path('speed_new') }}">Create new</a>
    <div id="speed" class="accordion-collapse collapse" data-bs-parent="#divers">
        <div class="accordion-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Abbreviation</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for speed in speeds %}
                    <tr>
                        <td>{{ speed.id }}</td>
                        <td>{{ speed.abbreviation }}</td>
                        <td>
                            <a href="{{ path('speed_edit', {'id': speed.id}) }}">edit</a>
                            {{ include('assets/speed/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>