<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#language" aria-expanded="true" aria-controls="collapseOne">
                Langues
        </button>
    </h2>
    <a href="{{ path('language_new') }}">Create new</a>
    <div id="language" class="accordion-collapse collapse" data-bs-parent="#divers">
        <div class="accordion-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Abbreviation</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for language in languages %}
                        <tr>
                            <td>{{ language.id }}</td>
                            <td><a href="{{ path('language_edit', {'id': language.id}) }}">{{ language.abbreviation }}</a></td>
                            <td>{{ include('assets/language/_delete_form.html.twig') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>