{% extends 'base.html.twig' %}

{% block title %}SpecialtyItem{% endblock %}

{% block body %}
    <h1>{{ specialty_item.name }}</h1>
    <div style="display:flex;">
        <a style="margin-right: 10px;" href="{{ path('classe_show', {'id': classeId}) }}">back to list</a>
        <a style="margin-right: 10px;" href="{{ path('specialties_edit', {'id': id, 'id2': id2}) }}">edit</a>
        {{ include ('classes/specialty_item/_delete_form.html.twig') }}
    </div>
    <br/><br/>
    <div style="display:flex;">
        <a style="margin-right: 10px;" href="{{ path('specialty_skill_new', {'id': id, 'id2': id2}) }}">new skill</a>
        <a style="margin-right: 10px;" href="{{ path('specialty_table_new', {'id': id, 'id2': id2}) }}">new table</a>
    </div>
    <h2>Skills</h2>
    {% for s in specialty_item.skills|sort((a, b) => a.level <=> b.level) %}
        <div>
            <div style="display:flex;">
                <h4><a style="margin-right: 10px;" href="{{ path('specialty_skill_edit', {'id': id, 'id2': id2, 'id3': s.id}) }}">{{ s.name }}</a><h4>
                {% include ("classes/specialty_skill/_delete_form.html.twig") %}
            </div>
            <table>
                <tr>
                    <td><a style="margin-right: 10px;" href="{{ path('specialty_liste_new', {'id': id, 'id2': id2, 'id3': s.id}) }}">new liste</a></td>
                </tr>
                {% for l in s.listes|sort((a, b) => a.number <=> b.number) %}
                    <tr>
                        <td><a style="margin-right: 10px;" href="{{ path('specialty_liste_edit', {'id': id, 'id2': id2, 'id3': l.id}) }}">Liste {{ l.number }}</a></td>
                        <td>{% include ("classes/specialty_liste/_delete_form.html.twig") %}</td>
                    </tr>
                {% endfor %}
            </table>
            <table>
                <tr>
                    <td><a style="margin-right: 10px;" href="{{ path('specialty_table_skill_new', {'id': id, 'id2': id2, 'id3': s.id}) }}">new table</a><td/>
                </tr>
                {% for t in s.tables %}
                    <tr>
                        <td><a style="margin-right: 10px;" href="{{ path('specialty_table_edit', {'id': id, 'id2': id2, 'id3': t.id}) }}">Table {{ t.number }}</a></td>
                        <td>{% include ("classes/specialty_table/_delete_form.html.twig") %}</td>
                        <td><a style="margin-right: 10px;" href="{{ path('specialty_row_new', {'id': id, 'id2': id2, 'id3': t.id}) }}">new row</a></td>
                        <td><ul>
                            {% for r in t.rows %}
                                <li>
                                    <a style="margin-right: 10px;" href="{{ path('specialty_row_edit', {'id': id, 'id2': id2, 'id3': r.id}) }}">Row {{ r.number }}</a>
                                    {% include ("classes/specialty_row/_delete_form.html.twig") %}
                                </li>
                            {% endfor %}
                        </ul></td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
        </div>
    {% endfor %}
    <h2>Tables</h2>
    {% for t in specialty_item.tables %}
        <table>
            <tr>
                <td><a style="margin-right: 10px;" href="{{ path('specialty_table_edit', {'id': id, 'id2': id2, 'id3': t.id}) }}">Table {{ t.number }}</a>
                <td>{% include ("classes/specialty_table/_delete_form.html.twig") %}</td>
                <td><a style="margin-right: 10px;" href="{{ path('specialty_row_new', {'id': id, 'id2': id2, 'id3': t.id}) }}">new row</a>
                <td><ul>
                    {% for r in t.rows %}
                        <li>
                            <a style="margin-right: 10px;" href="{{ path('specialty_row_edit', {'id': id, 'id2': id2, 'id3': r.id}) }}">Row {{ r.number }}</a>
                            {% include ("classes/specialty_row/_delete_form.html.twig") %}
                        </li>
                    {% endfor %}
                </ul></td>
            </tr>
        </table>
    {% endfor %}

{% endblock %}