{% extends 'base.html.twig' %}

{% block title %}SpellTable index{% endblock %}

{% block body %}
    <h1>SpellTable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Place</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spell_table in spell_tables %}
            <tr>
                <td>{{ spell_table.id }}</td>
                <td>{{ spell_table.number }}</td>
                <td>{{ spell_table.place }}</td>
                <td>{{ spell_table.name }}</td>
                <td>
                    <a href="{{ path('app_spells_spell_table_show', {'id': spell_table.id}) }}">show</a>
                    <a href="{{ path('app_spells_spell_table_edit', {'id': spell_table.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_spells_spell_table_new') }}">Create new</a>
{% endblock %}
