{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}
    <h1>Accueil Admin</h1>

    <ul>
        <li><a href="{{ path('assets') }}">Divers<a/></li>
        <li><a href="{{ path('feat') }}">Dons<a/></li>
        <li><a href="{{ path('source') }}">Sources<a/></li>
        <li><a href="{{ path('background') }}">Backgrounds<a/></li>
        <li><a href="{{ path('items') }}">Objets<a/></li>
        <li><a href="{{ path('classe') }}">Classes<a/></li>
        <li><a href="{{ path('monster') }}">Monstres<a/></li>
        <li><a href="{{ path('races') }}">Races<a/></li>
        <li><a href="{{ path('spells') }}">Sorts<a/></li>
    </ul>
    <br/>
    <a href="{{ path('users') }}">Users<a/>

{% endblock %}

{# <li><a href="{{ path('') }}"><a/></li> #}