{% extends 'base.html.twig' %}

{% block title %}ItemCategory index{% endblock %}

{% block body %}
    <h1>ItemCategory index</h1>
    <a href="{{ path('items_new') }}">Create new</a>
    <br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>
            {% for item_category in item_categories %}
                <tr>
                    <td>{{ item_category.id }}</td>
                    <td><a href="{{ path('items_show', {'id': item_category.id}) }}">{{ item_category.name }}</a></td>
                    <td>{{ item_category.slug }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4"><a href="{{ path('item_property') }}">Propriétés d'objets</a></td>
            </tr>
        </tbody>
    </table>
 
{% endblock %}