{% set _route = app.request.get('_route') %}

<div class="nav-container" id="nav">
    <div class="nav-logo">
        <img class="nav-img" src="{{ asset('assets/img/logo.jpg') }}" alt="D enflammé"/>
    </div>
    <div class="nav-menu">
        <button class="nav-btn" onclick="showMenu('menu', 'nav-lists', 'nav-item-list')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"/>
            </svg>
        </button> 
        <ul class="nav-list" id="menu">
            {{ include('view/nav/construct/_classe.html.twig') }}
            {{ include('view/nav/construct/_race.html.twig') }}
            {{ include('view/nav/construct/_spell.html.twig') }}
            {{ include('view/nav/construct/_item.html.twig') }}
            {{ include('view/nav/construct/_asset.html.twig') }}
        </ul>
    </div>
</div>