{% extends 'base.html.twig' %}

{% block title %}ItemSubcategory{% endblock %}

{% block body %}

    <h1>ItemSubcategory</h1>
    <div style="display:flex;">
        <a href="{{ path('items_show', {'id': id}) }}">back to list</a>
        <a href="{{ path('item_sub_edit', {'id': item_subcategory.id}) }}">edit</a>
        {{ include('items/item_subcategory/_delete_form.html.twig') }}
    </div>
    <br/><br/>
    <div style="display:flex;">
        <a style="margin-right: 20px;" href="{{ path('item_skill_sub_new', {'id': item_subcategory.id}) }}">new skill</a>   
        <a style="margin-right: 20px;" href="{{ path('item_liste_sub_new', {'id': item_subcategory.id}) }}">new liste</a>   
        <a style="margin-right: 20px;" href="{{ path('item_table_sub_new', {'id': item_subcategory.id}) }}">new table</a>   
        <a style="margin-right: 20px;" href="{{ path('item_sub_item_new', {'id': item_subcategory.id}) }}">new item</a>   
    </div>
    <br/><br/>
    {{ include 'items/item_subcategory/construct/_skills.html.twig' }}
    {{ include 'items/item_subcategory/construct/_listes.html.twig' }}
    {{ include 'items/item_subcategory/construct/_tables.html.twig' }}
    {{ include 'items/item_subcategory/construct/_items.html.twig' }}   

{% endblock %}
