{% extends 'base.html.twig' %}

{% block title %}ClasseTable index{% endblock %}

{% block body %}
    <h1>ClasseTable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Place</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe_table in classe_tables %}
            <tr>
                <td>{{ classe_table.id }}</td>
                <td>{{ classe_table.number }}</td>
                <td>{{ classe_table.place }}</td>
                <td>{{ classe_table.name }}</td>
                <td>
                    <a href="{{ path('app_classes_classe_table_show', {'id': classe_table.id}) }}">show</a>
                    <a href="{{ path('app_classes_classe_table_edit', {'id': classe_table.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_classes_classe_table_new') }}">Create new</a>
{% endblock %}
