{% extends 'base.html.twig' %}

{% block title %}ClasseTable{% endblock %}

{% block body %}
    <h1>ClasseTable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe_table.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ classe_table.number }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ classe_table.place }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ classe_table.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_classes_classe_table_index') }}">back to list</a>

    <a href="{{ path('app_classes_classe_table_edit', {'id': classe_table.id}) }}">edit</a>

    {{ include('classes/classe_table/_delete_form.html.twig') }}
{% endblock %}
