{% extends 'base.html.twig' %}

{% block title %}SB{% endblock %}

{% block body %}

    <h1>{{ sb.nameFr }}</h1>
    <div style="display:flex;">
        <a style="margin-right: 20px;" href="{{ path('monster') }}">back to list</a>
        <a style="margin-right: 20px;" href="{{ path('monster_edit', {'id': sb.id}) }}">edit</a>
        {{ include('monsters/sb/_delete_form.html.twig') }}
    </div>
    <br/><br/>
    <div style="display:flex;">
        <a style="margin-right: 20px;" href="{{ path('monster_skill_new', {'id': sb.id}) }}">new skill</a>
    </div>
    <br/><br/>
    {% for s in sb.skills %}
        <table>
            {% if s.type == 'skill' %}
                <tr>
                    <td>{{ s.type }}
                    <td><a href="{{ path('monster_skill_edit', {'id': sb.id, 'id2': s.id}) }}">{{ s.name }}</a></td>
                    <td>{{ include('monsters/sb_skill/_delete_form.html.twig') }}</td>
                </tr>
            {% elseif s.type == 'action' %}
                <tr>
                    <td>{{ s.type }}
                    <td><a href="{{ path('monster_skill_edit', {'id': sb.id, 'id2': s.id}) }}">{{ s.name }}</a></td>
                    <td>{{ include('monsters/sb_skill/_delete_form.html.twig') }}</td>
                    {% for speM in sb.specialties %}
                        {% for speS in s.specialties %}
                            {% if speM == speS %}
                                <td><a href="{{ path('monster_specialty_edit', {'id': sb.id, 'id2': speM.id}) }}">edit specialty</a></td>
                            {% else %}
                                <td><a href="{{ path('monster_specialty_new', {'id': sb.id, 'id2': s.id}) }}">new specialty</a></td>
                            {% endif %}
                        {% else %}
                            <td><a href="{{ path('monster_specialty_new', {'id': sb.id, 'id2': s.id}) }}">new specialty</a></td>
                        {% endfor %}
                    {% else %}
                        <td><a href="{{ path('monster_specialty_new', {'id': sb.id, 'id2': s.id}) }}">new specialty</a></td>  
                    {% endfor %}    
                </tr>
            {% elseif s.type == 'reaction' %}
                <tr>
                    <td>{{ s.type }}
                    <td><a href="{{ path('monster_skill_edit', {'id': sb.id, 'id2': s.id}) }}">{{ s.name }}</a></td>
                    <td>{{ include('monsters/sb_skill/_delete_form.html.twig') }}</td>
                </tr>
            {% endif %}
        </table>
    {% endfor %}
    
{% endblock %}
