{% extends 'base.html.twig' %}

{% block title %}ItemSkill index{% endblock %}

{% block body %}
    <h1>ItemSkill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Show_skill</th>
                <th>Optional</th>
                <th>D1</th>
                <th>D2</th>
                <th>D3</th>
                <th>D4</th>
                <th>D5</th>
                <th>D6</th>
                <th>D7</th>
                <th>D8</th>
                <th>D9</th>
                <th>D10</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_skill in item_skills %}
            <tr>
                <td>{{ item_skill.id }}</td>
                <td>{{ item_skill.name }}</td>
                <td>{{ item_skill.level }}</td>
                <td>{{ item_skill.showSkill ? 'Yes' : 'No' }}</td>
                <td>{{ item_skill.optional ? 'Yes' : 'No' }}</td>
                <td>{{ item_skill.d1 }}</td>
                <td>{{ item_skill.d2 }}</td>
                <td>{{ item_skill.d3 }}</td>
                <td>{{ item_skill.d4 }}</td>
                <td>{{ item_skill.d5 }}</td>
                <td>{{ item_skill.d6 }}</td>
                <td>{{ item_skill.d7 }}</td>
                <td>{{ item_skill.d8 }}</td>
                <td>{{ item_skill.d9 }}</td>
                <td>{{ item_skill.d10 }}</td>
                <td>
                    <a href="{{ path('app_items_item_skill_show', {'id': item_skill.id}) }}">show</a>
                    <a href="{{ path('app_items_item_skill_edit', {'id': item_skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_items_item_skill_new') }}">Create new</a>
{% endblock %}
