{% extends 'base.html.twig' %}

{% block title %}ItemRow index{% endblock %}

{% block body %}
    <h1>ItemRow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>D1</th>
                <th>D2</th>
                <th>D3</th>
                <th>D4</th>
                <th>D5</th>
                <th>D6</th>
                <th>D7</th>
                <th>D8</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_row in item_rows %}
            <tr>
                <td>{{ item_row.id }}</td>
                <td>{{ item_row.number }}</td>
                <td>{{ item_row.d1 }}</td>
                <td>{{ item_row.d2 }}</td>
                <td>{{ item_row.d3 }}</td>
                <td>{{ item_row.d4 }}</td>
                <td>{{ item_row.d5 }}</td>
                <td>{{ item_row.d6 }}</td>
                <td>{{ item_row.d7 }}</td>
                <td>{{ item_row.d8 }}</td>
                <td>
                    <a href="{{ path('app_items_item_row_show', {'id': item_row.id}) }}">show</a>
                    <a href="{{ path('app_items_item_row_edit', {'id': item_row.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_items_item_row_new') }}">Create new</a>
{% endblock %}
