{% extends 'base.html.twig' %}

{% block title %}BGTable index{% endblock %}

{% block body %}
    <h1>BGTable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Place</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for b_g_table in b_g_tables %}
            <tr>
                <td>{{ b_g_table.id }}</td>
                <td>{{ b_g_table.number }}</td>
                <td>{{ b_g_table.place }}</td>
                <td>{{ b_g_table.name }}</td>
                <td>
                    <a href="{{ path('app_backgrounds_b_g_table_show', {'id': b_g_table.id}) }}">show</a>
                    <a href="{{ path('app_backgrounds_b_g_table_edit', {'id': b_g_table.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backgrounds_b_g_table_new') }}">Create new</a>
{% endblock %}
