{% extends 'base.html.twig' %}

{% block title %}BGTable{% endblock %}

{% block body %}
    <h1>BGTable</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ b_g_table.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ b_g_table.number }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ b_g_table.place }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ b_g_table.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backgrounds_b_g_table_index') }}">back to list</a>

    <a href="{{ path('app_backgrounds_b_g_table_edit', {'id': b_g_table.id}) }}">edit</a>

    {{ include('backgrounds/bg_table/_delete_form.html.twig') }}
{% endblock %}
