{% extends 'base.html.twig' %}

{% block title %}Feat{% endblock %}

{% block body %}
    <h1>Feat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feat.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ feat.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ feat.slug }}</td>
            </tr>
            <tr>
                <th>Prerequisite</th>
                <td>{{ feat.prerequisite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assets_feat_index') }}">back to list</a>

    <a href="{{ path('app_assets_feat_edit', {'id': feat.id}) }}">edit</a>

    {{ include('assets/feat/_delete_form.html.twig') }}
{% endblock %}
