{% extends 'base.html.twig' %}

{% block title %}SpecialtyListe index{% endblock %}

{% block body %}
    <h1>SpecialtyListe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Place</th>
                <th>L1</th>
                <th>L2</th>
                <th>L3</th>
                <th>L4</th>
                <th>L5</th>
                <th>L6</th>
                <th>L7</th>
                <th>L8</th>
                <th>L9</th>
                <th>L10</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialty_liste in specialty_listes %}
            <tr>
                <td>{{ specialty_liste.id }}</td>
                <td>{{ specialty_liste.number }}</td>
                <td>{{ specialty_liste.place }}</td>
                <td>{{ specialty_liste.l1 }}</td>
                <td>{{ specialty_liste.l2 }}</td>
                <td>{{ specialty_liste.l3 }}</td>
                <td>{{ specialty_liste.l4 }}</td>
                <td>{{ specialty_liste.l5 }}</td>
                <td>{{ specialty_liste.l6 }}</td>
                <td>{{ specialty_liste.l7 }}</td>
                <td>{{ specialty_liste.l8 }}</td>
                <td>{{ specialty_liste.l9 }}</td>
                <td>{{ specialty_liste.l10 }}</td>
                <td>
                    <a href="{{ path('app_classes_specialty_liste_show', {'id': specialty_liste.id}) }}">show</a>
                    <a href="{{ path('app_classes_specialty_liste_edit', {'id': specialty_liste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_classes_specialty_liste_new') }}">Create new</a>
{% endblock %}
