{% extends 'base.html.twig' %}

{% block title %}RaceSubrace index{% endblock %}

{% block body %}
    <h1>RaceSubrace index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Name</th>
                <th>D1</th>
                <th>D2</th>
                <th>D3</th>
                <th>Ability</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race_subrace in race_subraces %}
            <tr>
                <td>{{ race_subrace.id }}</td>
                <td>{{ race_subrace.slug }}</td>
                <td>{{ race_subrace.name }}</td>
                <td>{{ race_subrace.d1 }}</td>
                <td>{{ race_subrace.d2 }}</td>
                <td>{{ race_subrace.d3 }}</td>
                <td>{{ race_subrace.ability }}</td>
                <td>
                    <a href="{{ path('app_races_race_subrace_show', {'id': race_subrace.id}) }}">show</a>
                    <a href="{{ path('app_races_race_subrace_edit', {'id': race_subrace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_races_race_subrace_new') }}">Create new</a>
{% endblock %}
