{{ form_start(form) }}
    <div>
        {{ form_row(form.name) }}
        {{ form_row(form.part) }}
    </div>
    <div>
        {{ form_row(form.d1) }}
    </div>
    <div>
        {{ form_row(form.d2) }}
    </div>
    <div>
        {{ form_row(form.d3) }}
    </div>
    <div>
        {{ form_row(form.d4) }}
    </div>
    <div>
        {{ form_row(form.d5) }}
    </div>
    <div>
        {{ form_row(form.d6) }}
    </div>
    <div>
        {{ form_row(form.d7) }}
    </div>
    <div>
        {{ form_row(form.d8) }}
    </div>
    <div>
        {{ form_row(form.d9) }}
    </div>
    <div>
        {{ form_row(form.d10) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
