{% extends 'base.html.twig' %}

{% block title %}ClasseListe{% endblock %}

{% block body %}
    <h1>ClasseListe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe_liste.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ classe_liste.number }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ classe_liste.place }}</td>
            </tr>
            <tr>
                <th>L1</th>
                <td>{{ classe_liste.l1 }}</td>
            </tr>
            <tr>
                <th>L2</th>
                <td>{{ classe_liste.l2 }}</td>
            </tr>
            <tr>
                <th>L3</th>
                <td>{{ classe_liste.l3 }}</td>
            </tr>
            <tr>
                <th>L4</th>
                <td>{{ classe_liste.l4 }}</td>
            </tr>
            <tr>
                <th>L5</th>
                <td>{{ classe_liste.l5 }}</td>
            </tr>
            <tr>
                <th>L6</th>
                <td>{{ classe_liste.l6 }}</td>
            </tr>
            <tr>
                <th>L7</th>
                <td>{{ classe_liste.l7 }}</td>
            </tr>
            <tr>
                <th>L8</th>
                <td>{{ classe_liste.l8 }}</td>
            </tr>
            <tr>
                <th>L9</th>
                <td>{{ classe_liste.l9 }}</td>
            </tr>
            <tr>
                <th>L10</th>
                <td>{{ classe_liste.l10 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_classes_classe_liste_index') }}">back to list</a>

    <a href="{{ path('app_classes_classe_liste_edit', {'id': classe_liste.id}) }}">edit</a>

    {{ include('classes/classe_liste/_delete_form.html.twig') }}
{% endblock %}
