{% extends 'base.html.twig' %}

{% block title %}SourcePart index{% endblock %}

{% block body %}
    <h1>SourcePart index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for source_part in source_parts %}
            <tr>
                <td>{{ source_part.id }}</td>
                <td>{{ source_part.number }}</td>
                <td>{{ source_part.name }}</td>
                <td>
                    <a href="{{ path('app_assets_source_part_show', {'id': source_part.id}) }}">show</a>
                    <a href="{{ path('app_assets_source_part_edit', {'id': source_part.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assets_source_part_new') }}">Create new</a>
{% endblock %}
