{% extends 'base.html.twig' %}

{% block title %}Skill index{% endblock %}

{% block body %}
    <h1>Skill index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Show_skill</th>
                <th>Optional</th>
                <th>D1</th>
                <th>D2</th>
                <th>D3</th>
                <th>D4</th>
                <th>D5</th>
                <th>D6</th>
                <th>D7</th>
                <th>D8</th>
                <th>D9</th>
                <th>D10</th>
                <th>Type</th>
                <th>Part</th>
                <th>Attack_type</th>
                <th>Damage</th>
                <th>Target</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.id }}</td>
                <td>{{ skill.name }}</td>
                <td>{{ skill.level }}</td>
                <td>{{ skill.showSkill ? 'Yes' : 'No' }}</td>
                <td>{{ skill.optional ? 'Yes' : 'No' }}</td>
                <td>{{ skill.d1 }}</td>
                <td>{{ skill.d2 }}</td>
                <td>{{ skill.d3 }}</td>
                <td>{{ skill.d4 }}</td>
                <td>{{ skill.d5 }}</td>
                <td>{{ skill.d6 }}</td>
                <td>{{ skill.d7 }}</td>
                <td>{{ skill.d8 }}</td>
                <td>{{ skill.d9 }}</td>
                <td>{{ skill.d10 }}</td>
                <td>{{ skill.type }}</td>
                <td>{{ skill.part }}</td>
                <td>{{ skill.attackType }}</td>
                <td>{{ skill.damage }}</td>
                <td>{{ skill.target }}</td>
                <td>
                    <a href="{{ path('app_construct_skill_show', {'id': skill.id}) }}">show</a>
                    <a href="{{ path('app_construct_skill_edit', {'id': skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_construct_skill_new') }}">Create new</a>
{% endblock %}
