{{ form_start(form) }}
    <div>
        {{ form_row(form.type) }}
        {{ form_row(form.name) }}
        {{ form_row(form.part) }}
    </div>
    <div>
        {{ form_row(form.d) }}
    </div>
    <div>
        {{ form_row(form.type_attack) }}
        {{ form_row(form.target) }}
        {{ form_row(form.damage) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
