<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#alignment" aria-expanded="true" aria-controls="collapseOne">
                Alignements
        </button>
    </h2>
    <a href="{{ path('alignment_new') }}">Create new</a>
    <div id="alignment" class="accordion-collapse collapse" data-bs-parent="#divers">
        <div class="accordion-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Abbreviation</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alignment in alignments %}
                        <tr>
                            <td>{{ alignment.id }}</td>
                            <td><a href="{{ path('alignment_edit', {'id': alignment.id}) }}">{{ alignment.name }}</a></td>
                            <td>{{ alignment.abbreviation }}</td>
                            <td>{{ include('assets/alignment/_delete_form.html.twig') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>