{% extends 'base.html.twig' %}

{% block title %}Classe index{% endblock %}

{% block body %}
    <h1>Classe index</h1>
    <a href="{{ path('admin') }}">Retour à l'accueil<a/>
    <br/><br/>
    <a href="{{ path('classe_new') }}">Create new</a>
    <br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.id }}</td>
                <td><a href="{{ path('classe_show', {'id': classe.id}) }}">{{ classe.name }}</a></td>
                <td>{{ classe.slug }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
