{% extends 'base.html.twig' %}

{% block title %}SBSpecialty index{% endblock %}

{% block body %}
    <h1>SBSpecialty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>D</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for s_b_specialty in s_b_specialties %}
            <tr>
                <td>{{ s_b_specialty.id }}</td>
                <td>{{ s_b_specialty.d }}</td>
                <td>
                    <a href="{{ path('app_monsters_s_b_specialty_show', {'id': s_b_specialty.id}) }}">show</a>
                    <a href="{{ path('app_monsters_s_b_specialty_edit', {'id': s_b_specialty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_monsters_s_b_specialty_new') }}">Create new</a>
{% endblock %}
