{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Quantity</th>
                <th>Rarity</th>
                <th>Type</th>
                <th>Cost</th>
                <th>Weight</th>
                <th>Ca</th>
                <th>Ca_dex</th>
                <th>Ca_max</th>
                <th>Ca_str</th>
                <th>Ca_stealth</th>
                <th>Ca_don</th>
                <th>Ca_doff</th>
                <th>Dice</th>
                <th>Link</th>
                <th>Damage</th>
                <th>D1</th>
                <th>D2</th>
                <th>D3</th>
                <th>D4</th>
                <th>D5</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.slug }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.rarity }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.cost }}</td>
                <td>{{ item.weight }}</td>
                <td>{{ item.ca }}</td>
                <td>{{ item.caDex ? 'Yes' : 'No' }}</td>
                <td>{{ item.caMax ? 'Yes' : 'No' }}</td>
                <td>{{ item.caStr }}</td>
                <td>{{ item.caStealth ? 'Yes' : 'No' }}</td>
                <td>{{ item.caDon }}</td>
                <td>{{ item.caDoff }}</td>
                <td>{{ item.dice }}</td>
                <td>{{ item.link ? 'Yes' : 'No' }}</td>
                <td>{{ item.damage }}</td>
                <td>{{ item.d1 }}</td>
                <td>{{ item.d2 }}</td>
                <td>{{ item.d3 }}</td>
                <td>{{ item.d4 }}</td>
                <td>{{ item.d5 }}</td>
                <td>
                    <a href="{{ path('app_items_item_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_items_item_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="24">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_items_item_new') }}">Create new</a>
{% endblock %}
