{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
    <h1>Item</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ item.slug }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ item.quantity }}</td>
            </tr>
            <tr>
                <th>Rarity</th>
                <td>{{ item.rarity }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ item.type }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ item.cost }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ item.weight }}</td>
            </tr>
            <tr>
                <th>Ca</th>
                <td>{{ item.ca }}</td>
            </tr>
            <tr>
                <th>Ca_dex</th>
                <td>{{ item.caDex ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Ca_max</th>
                <td>{{ item.caMax ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Ca_str</th>
                <td>{{ item.caStr }}</td>
            </tr>
            <tr>
                <th>Ca_stealth</th>
                <td>{{ item.caStealth ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Ca_don</th>
                <td>{{ item.caDon }}</td>
            </tr>
            <tr>
                <th>Ca_doff</th>
                <td>{{ item.caDoff }}</td>
            </tr>
            <tr>
                <th>Dice</th>
                <td>{{ item.dice }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ item.link ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Damage</th>
                <td>{{ item.damage }}</td>
            </tr>
            <tr>
                <th>D1</th>
                <td>{{ item.d1 }}</td>
            </tr>
            <tr>
                <th>D2</th>
                <td>{{ item.d2 }}</td>
            </tr>
            <tr>
                <th>D3</th>
                <td>{{ item.d3 }}</td>
            </tr>
            <tr>
                <th>D4</th>
                <td>{{ item.d4 }}</td>
            </tr>
            <tr>
                <th>D5</th>
                <td>{{ item.d5 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_items_item_index') }}">back to list</a>

    <a href="{{ path('app_items_item_edit', {'id': item.id}) }}">edit</a>

    {{ include('items/item/_delete_form.html.twig') }}
{% endblock %}
