{{ form_start(form) }}
    <div>
        {{ form_row(form.name) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.part) }}
        {{ form_row(form.show_skill) }}
    </div>
    <div>
        {{ form_row(form.d) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
