{% extends 'base.html.twig' %}

{% block title %}ItemProperty index{% endblock %}

{% block body %}
    <h1>ItemProperty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Part</th>
                <th>D</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_property in item_properties %}
            <tr>
                <td>{{ item_property.id }}</td>
                <td>{{ item_property.name }}</td>
                <td>{{ item_property.slug }}</td>
                <td>{{ item_property.part }}</td>
                <td>{{ item_property.d }}</td>
                <td>
                    <a href="{{ path('app_items_item_property_show', {'id': item_property.id}) }}">show</a>
                    <a href="{{ path('app_items_item_property_edit', {'id': item_property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_items_item_property_new') }}">Create new</a>
{% endblock %}
