{% extends 'base.html.twig' %}

{% block title %}ItemProperty index{% endblock %}

{% block body %}
    <h1>ItemProperty index</h1>
    <a href="{{ path('item_property_new') }}">Create new</a>
    <br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Part</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_property in item_properties %}
            <tr>
                <td>{{ item_property.id }}</td>
                <td><a href="{{ path('item_property_edit', {'id': item_property.id}) }}">{{ item_property.name }}</a></td>
                <td>{{ item_property.slug }}</td>
                <td>{{ item_property.part }}</td>
                <td>{{ include('items/item_property/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
