{% if b.carac %}
    <p><a href="{{ path('bgcarac_edit', {'id': b.carac.id}) }}">edit carac</a></p>
    {% for t in b.carac.tables|sort((a, b) => a.number <=> b.number) %}
        <p>
            <a style="margin-right: 10px;" href="{{ path('bgtable_edit', {'id': t.id}) }}">Table {{ t.number }}</a>
            {% for r in t.rows %}
                <a style="margin-right: 10px;" href="{{ path('bgrow_edit', {'id': r.id}) }}">Row {{ r.number }}</a>
            {% endfor %}
            <a style="right: 10px;" href="{{ path('bgrow_new', {'id': t.id}) }}">new row</a>
        <p>
    {% endfor %}
    <p><a href="{{ path('bgtable_carac_new', {'id': b.carac.id}) }}">new table</a></p>
{% else %}
    <p><a href="{{ path('bgcarac_new', {'id': b.id}) }}">new carac</a>
{% endif %}