{% extends 'base.html.twig' %}

{% block title %}BGCarac index{% endblock %}

{% block body %}
    <h1>BGCarac index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>D1</th>
                <th>D2</th>
                <th>D3</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for b_g_carac in b_g_caracs %}
            <tr>
                <td>{{ b_g_carac.id }}</td>
                <td>{{ b_g_carac.d1 }}</td>
                <td>{{ b_g_carac.d2 }}</td>
                <td>{{ b_g_carac.d3 }}</td>
                <td>
                    <a href="{{ path('app_backgrounds_b_g_carac_show', {'id': b_g_carac.id}) }}">show</a>
                    <a href="{{ path('app_backgrounds_b_g_carac_edit', {'id': b_g_carac.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backgrounds_b_g_carac_new') }}">Create new</a>
{% endblock %}
